<div class=" container text-center mt-4">
    <div class="row g-2">
        <div class="col d-grid">
            <a role="button" class="btn text-light fw-bold rounded-1 py-2 fs-5" href="/confirmar/<%= event %> "
                style="background: linear-gradient(120deg, #8A2BE2 1%, #B537F2 40%, #3CB9FC); border: 0px;text-decoration: none;">Confirmar</a>
        </div>
        <div class="col d-grid">
            <a role="button" class="btn fw-bold rounded-1 py-2 fs-5" href="/recusar/<%= event %>"
                style="border: solid; border-width: 1.2px; color: #120052; text-decoration: none;">Recusar</a>
        </div>
    </div>
</div>

