<div class="container mt-4">
  <div class="row align-items-center">
    <div class="col-4">
      <img
        src="{{url_for('static', filename='lexie.jpeg')}}"
        alt="event picture"
        class="rounded-circle"
        style="width: 100px; height: 100px; object-fit: cover"
      />
    </div>
    <div class="col-7 ms-2">
      <span class="p-0 m-1">
        <i class="bi bi-calendar-event me-1"></i>
        03/09
      </span>

      <span class="p-0 me-1 ms-2">
        <i class="bi bi-clock me-1"></i>
        13:00
      </span>

      <p class="p-0 m-1">
        <i class="bi bi-wallet2 me-2"></i>30 reais (15 se não comer carne)
      </p>
      <p class="p-0 m-1">
        <i class="bi bi-geo-alt-fill me-2"></i>Av. Celso Kelly, 487, Barra da
        Tijuca
      </p>
    </div>
  </div>
</div>

<div class="container mt-4">
  <h1 class="mb-0 pb-0 fw-bold">Churras casa da Amanda</h1>
  <p class="m-0 fw-light" style="font-size: 0.9rem">
    Organizado por Amanda Pontes
  </p>
  <p class="my-3 lh-sm">
    Fala galera! <br />
    Irei fazer um churrasco na minha residência no próximo sábado. As
    informações importantes estão aqui na página da resenha. <br /><br />
    - Bebida: cada um leva o que for beber <br />
    - Namorados(as) estão permitidos, só me avisar no wpp <br />
    - Venham com seus biquínis e tragam bola de futevôlei (mas lembrem sempre do
    risco de isolar kkkkk) <br />
    <br /><strong>Obs:</strong> Minha casa não estará lega!! Portanto, sem
    drogas <br />
  </p>
</div>
