{% extends 'base.html' %}
{% block title %}
Trevo | eventos
{% endblock %}
{% block content %}



<!-- <div class="card mb-3 rounded-3">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div> -->


<script>
    // Create an XMLHttpRequest object
    const xhttp = new XMLHttpRequest();

    // Define a callback function
    xhttp.onload = function () {
        // Here you can use the Data
        var eventos = JSON.parse(this.responseText)
        eventos = eventos.events

        var content = ""

        for (let event of eventos) {
            content += `<div class="card mb-3 rounded-3">
                            <div class="card-header">
                                ${event.categoria}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">${event.titulo}</h5>
                                <p class="card-text">${event.descricao}</p>
                                <a href="#" class="btn btn-primary">Apostar</a>
                            </div>
                        </div>`
        }

        console.log(this.responseText);
        document.getElementById("mainBlock").innerHTML = content
    }

    // Send a request
    xhttp.open("GET", "/showEvents/no_filter");
    xhttp.send();
</script>
{% endblock %}