{% extends 'base.html' %}
{% block title %}
Trevo | eventos
{% endblock %}

{% block content %}


<!-- <div class="card mb-3 rounded-3">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row g-3">
                <div class="col-lg-7 col-xxl-8">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="col-lg-5 col-xxl-4">
                    <div class="d-grid gap-2 d-lg-flex justify-content-lg-end">
                        <button class="btn btn-secondary p-3 rounded-3" type="button">Time 1
                            <br class="d-none d-lg-block">
                            <span class="d-inline d-lg-none"> &nbsp; | &nbsp; </span>
                            <strong>9.4</strong>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<script>
    // Create an XMLHttpRequest object
    const xhttp = new XMLHttpRequest();

    // Define a callback function
    xhttp.onload = function () {
        // Here you can use the Data
        var eventos = JSON.parse(this.responseText)
        eventos = eventos.events

        var content = ""

        for (let event of eventos) {
            if (event.status == "ativo") {
                content += `<div class="card mb-3 rounded-3">
                                <div class="card-header">
                                    ${event.categoria}
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <div class="row g-3">
                                            <div class="col-lg-7 col-xxl-8">
                                                <h4 class="card-title">${event.titulo}</h4>
                                                <p class="card-text">${event.descricao}</p>
                                            </div>
                                            <div class="col-lg-5 col-xxl-4">
                                                <div class="d-grid gap-2 d-lg-flex justify-content-lg-end">`
                var options = Object.keys(event.opcoes)
                var nOptions = options.length
                for (let i = 0; i < nOptions; i++) {
                    content += `<a class="btn btn-secondary p-3 rounded-3" href="/visualizar_evento/${event._id.$oid}">${options[i]}
                                    <br class="d-none d-lg-block">
                                    <span class="d-inline d-lg-none"> &nbsp; | &nbsp; </span>
                                    <strong>${event.opcoes[options[i]]}</strong>
                                </a>`
                }

                content += ` </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>`
            }
        }

        console.log(this.responseText);
        document.getElementById("mainBlock").innerHTML = content
    }

    // Send a request
    xhttp.open("GET", "/showEvents/no_filter");
    xhttp.send();
</script>
{% endblock %}