{% extends 'base.html' %} {% block content %}

<nav
  class="navbar sticky-top shadow-sm"
  style="background-color: white; opacity: 0.97"
>
  <div class="container-fluid">
    <span
      class="navbar-brand mb-0 h1 mx-auto"
      style="font-family: 'Courgette', cursive; font-size: 2rem"
      >Vinco &#128526;</span
    >
  </div>
</nav>

<!-- possivelmenirar acima -->

<div class="container p-4 mt-2">
  <h3 class="mb-4">Falta apenas um passo para curtir o rolê!</h3>
  <small class="">Selecione uma opção para realizar o pagamento:</small>
  <div class="row">
    <div class="col-12 d-grid">
      <a href="https://mpago.la/2GRuWEs" class="btn btn-outline-primary mt-3"
        >Sem alcool</a
      >
    </div>
    <div class="col-12 d-grid">
      <a href="https://mpago.la/1srVp45" class="btn btn-outline-primary mt-3"
        >Festa+Cerveja</a
      >
    </div>
    <div class="col-12 d-grid">
      <a href="https://mpago.la/1hpnEyx" class="btn btn-outline-primary mt-3"
        >Festa+Vodka, Gin, Whisky</a
      >
    </div>
    <div class="col-12 d-grid">
      <a href="https://mpago.la/2ci4XdA" class="btn btn-outline-primary mt-3"
        >Skolbets e Ice SKY</a
      >
    </div>
  </div>
</div>

{% endblock %}
