{% extends 'base.html' %} {% block content %}

<nav
  class="navbar sticky-top shadow-sm"
  style="background-color: white; opacity: 0.97"
>
  <div class="container-fluid">
    <span
      class="navbar-brand mb-0 h1 mx-auto"
      style="font-family: 'Courgette', cursive; font-size: 2rem"
      >Vinco &#128526;</span
    >
  </div>
</nav>

<!-- possivelmenirar acima -->

<div class="container p-4 mt-2">
  <h3 class="mb-4">Falta apenas um passo para curtir o rolê!</h3>
  <small class="">Selecione uma opção para realizar o pagamento:</small>
  <div class="row">
    <div class="col-12 d-grid">
      <a
        href="https://www.mercadopago.com.br/checkout/v1/payment/redirect/86d8712d-975a-46b9-bf21-c72e1c3a0e22/payment-option-form/?webview=true&source=link&preference-id=266994163-c41a44c5-0adb-4201-88bc-1790d5963c20&router-request-id=40eb0221-9095-4714-ae05-48874118863a&internal-configurations=webview&p=a3f3c67a532ce69edc04a70238d5e93f#/"
        class="btn btn-outline-primary mt-3"
        >Sem alcool</a
      >
    </div>
    <div class="col-12 d-grid">
      <a
        href="https://www.mercadopago.com.br/checkout/v1/payment/redirect/b673d296-5009-4aa1-b4c3-3bc4bba64206/payment-option-form/?source=link&router-request-id=56264939-e3a6-4da3-bc96-652a36a6dc21&webview=true&preference-id=266994163-934e215b-7f29-449e-938a-772e02ab4fca&p=a3f3c67a532ce69edc04a70238d5e93f#/"
        class="btn btn-outline-primary mt-3"
        >Festa+Cerveja</a
      >
    </div>
    <div class="col-12 d-grid">
      <a
        href="https://www.mercadopago.com.br/checkout/v1/payment/redirect/96e2b933-227f-4244-b702-b21fe63017bd/payment-option-form/?webview=true&preference-id=266994163-051b480f-a12a-45d3-b8b4-8e7efc8f6349&router-request-id=0b33dda9-a20a-4495-9f1d-42561e25445d&source=link&p=a3f3c67a532ce69edc04a70238d5e93f#/"
        class="btn btn-outline-primary mt-3"
        >Festa+Vodka, Gin, Whisky</a
      >
    </div>
    <div class="col-12 d-grid">
      <a
        href="https://www.mercadopago.com.br/checkout/v1/payment/redirect/49febf5d-8d78-46c4-927c-8b479688e2b6/payment-option-form/?router-request-id=4f8dd155-677d-40a5-a1b4-5388d11e3a2f&preference-id=266994163-7c4c2313-fce6-47fd-b74c-4d92b1d10100&webview=true&source=link&p=a3f3c67a532ce69edc04a70238d5e93f#/"
        class="btn btn-outline-primary mt-3"
        >Skolbets e Ice SKY</a
      >
    </div>
  </div>
</div>

{% endblock %}
