<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700&family=Karla:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300&family=Courgette&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <title>Document</title>

    <style>
      body {
        font-family: "Inter", sans-serif;
        color: #363638;
        max-width: 600px;
      }
    </style>
  </head>

  <body>
    <nav
      class="navbar sticky-top shadow-sm"
      style="background-color: white; opacity: 0.97"
    >
      <div class="container-fluid">
        <span
          class="navbar-brand mb-0 h1 mx-auto"
          style="font-family: 'Courgette', cursive; font-size: 2rem"
          >Vinco &#128526;</span
        >
      </div>
    </nav>

    <div style="text-align: center">
      <h2 style="margin-top: 15%">Amanda quer saber...</h2>
      <h5>Responda as enquetes do evento</h5>
    </div>

    <div class="p-4">
      <form action="/receber-enquetes/{{ event_id }}" method="post">
        {% for poll in polls %}
        <p>{{ poll.question }}</p>
        <div class="row g-2 mb-4">
          {% for option in poll.options %}
          <div class="col-6 d-grid">
            <input
              type="radio"
              class="btn-check"
              name="{{poll.question}}"
              id="{{ option.optionName }}"
              autocomplete="off"
              value="{{ loop.index }}"
            />
            <label
              class="btn btn-outline-secondary"
              for="{{ option.optionName }}"
              >{{ option.optionName }}</label
            >
          </div>
          {% endfor %}
        </div>

        {% endfor %}
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">
            Enviar e realizar pagamento
          </button>
        </div>

        <div class="d-grid my-2">
          <button type="submit" class="btn btn-outline-primary">
            Enviar e pagar depois
          </button>
        </div>
      </form>

      <!-- <button
          type="button"
          class="btn btn-outline-danger"
          style="width: 80%; margin-top: 2%"
        >
          Pular esta etapa
        </button>
      </div> -->
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
