{% extends 'base_cadastro.html' %}
{% block title %}
Cadastro
{% endblock %}
{% block header %}
Cadastro <a class="text-success" href="{{url_for('home')}}">trevo</a>
{% endblock %}

{% block senha %}

<div class="col-md-4">
    <label for="inputPassword" class="form-label">Senha</label>
    <input type="password" class="form-control" id="inputPassword" name="inputPassword" required>
</div>
<div class="col-md-4">
    <label for="inputPasswordCheck" class="form-label">Confirmar senha</label>
    <input type="password" class="form-control" id="inputPasswordCheck" name="inputPasswordCheck" required>
</div>
{% endblock %}

{% block action %}
action="{{ url_for('checkUserSignUp')}}"
{% endblock %}